@font-face {
  font-family: Helvetica;
  src: url(/fonts/Helvetica.ttf);
}

@font-face {
  font-family: Terminess;
  src: url("/fonts/Terminess.ttf");
}

@font-face {
  font-family: Metropolis;
  src: url("/fonts/Metropolis-Bold.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Metropolis, Terminess, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  font-size: 60px;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.display {
  text-align: center;
}
